
<img src="<%= ext_url %>" alt="">


<div class="slide-inspect-info panel">
  <h2>
    <%= title %>
  </h2>

  <div class="place-in-list">
    <select name="" id="">
      <% current_user.lists.each do |list|%>
      <option value=""><%= list.title %></option>
      <% end %>
    </select>
  </div>

  <p>
    Tags: <%= tag_list %>
    <br>
    Created: <%= created_at.strftime("%D")%>
    <br>
    Updated: <%= updated_at.strftime("%D")%>
  </p>
  <hr>
  <% @slide = Slide.find(id) %>
  <h4>Likes (<%= @slide.likes.count %>)</h4>
  <div id="liked-ppl">
    <% @slide.likes.each do |like| %>
      <img src="<%= like.user.avatar_url %>">    <% end %>
  </div>
</div>
