  <div class="form-container">

  <center>
    <h1 class="head-edit-title"><%= @slideshow.title %></h1>
<div class="panel house left-house" style="overflow:auto">
  <ul class="slideshow_lists_edit_top edit-options-list">
    <a href="#" class="add-a-new-picture">
      <li class="entry" id="slide_add" ssid="<%= @slideshow.id %>" style="background-color:black;padding-top:1%"><i class="fa fa-upload" style="font-size: 50px;"></i><br>add image</li>
    </a>
    <a href="#" class="add-a-new-title">
      <li class="entry" id="title_edit" ssid="<%= @slideshow.id %>" style="background-color:black;padding-top:1%"><i class="fa fa-file-text" style="font-size: 50px;"></i><br>Edit title</li>
    </a>
    <a href="#" class="add-a-new-tags">
      <li class="entry" id="tags_edit" ssid="<%= @slideshow.id %>" style="background-color:black;padding-top:1%"><i class="fa fa-tags" style="font-size: 50px;"></i><br>Edit tags</li>
    </a>
    <a href="#" data-id="<%= @slideshow.id %>" id="toggle-public">
        <% if @slideshow.public? %>
          <li class="entry" ssid="<%= @slideshow.id %>" style="background-color:black;padding-top:1%;background-color:rgba(216,38,25,.5)">
          <i class="fa fa-eye-slash" style="font-size: 50px"></i><br>Make Private
        <% else %>
          <li class="entry" ssid="<%= @slideshow.id %>" style="background-color:black;padding-top:1%;background-color:rgba(111,240,56,.5)">
          <i class="fa fa-eye" style="font-size: 50px;"></i><br>Make Public
        <% end %>
      </li>
    </a>
  </ul>
</div>
    <div class="panel house right-house">
      <h3>Slide Order</h3>
    <div class="screen-load">Uploading Images...</div>

      <p>Click and drag each slide to its desired position.</p>
      <div id="info" ssid="<%= @slideshow.id %>"></div>
      <ul id="sortable" class="slideshow_lists_edit">
        <% @images.each do |image|%>
          <% if !image.deleted %>
            <% if image.on_s3? %>
              <li class="entry" pic-id="<%= image.id %>" id="slide_<%= image.id %>" ssid="<%= @slideshow.id %>" style="background-image:url(<%= image.thumb_url %>)">
            <% else %>
              <li class="entry" pic-id="<%= image.id %>" id="slide_<%= image.id %>" ssid="<%= @slideshow.id %>" style="background-image:url(<%= image.ext_url %>)">
            <% end %>
            <br>
            <div class="pic-info">
              <a href="#" class="inspect-slide" data-id="<%= image.id %>">
                <i class="fa fa-info-circle"></i>
              </a>
              <a href="#" class="edit-slide" data-id="<%= image.id %>">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <a href="#" class="delete-slide" data-id="<%= image.id %>">
                <i class="fa fa-trash"></i>
              </a>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>


<div class="general-modal upload-modal-pic form-modal">

  <div class="form-panel">
    <h3>Add Images</h3>
    <p>Two ways to add images ... </p>
    <div class="panelthird upmodal">
      <h4>Make with URL</h4>
      <br>
      <form action="#" id="upload-url">
       <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
       <input type="hidden" name="info[slideshow_id]" value="<%= @slideshow.id %>">
       <input type="text" style="width:100%" placeholder="Title this slide..." name="info[title]">
       <input type="text" style="width:100%" placeholder="Find an image and copy its URL..." name="info[ext_url]">
     </form>
     <br><br>
     <button class="upload-button Add-button-url" id="upload-pic-url">Add</button>
   </div>
  <div class="panelthird upmodal">
      <h4>Upload images from computer</h4>
      <%= form_for @slideshow, :html => {:id => "upload"} do |f| %>
      <%= f.file_field :picture, :multiple => true %>
      <input type="text" name="tags_string" placeholder="tags seperated by commas" style="width:100%">
      <% end %>
      <br><br>
      <button class="upload-button" id="upload-pic">Upload</button>
    </div>
  </div>

</div>

<div class="panel house left-house" id="private-mode-options" style="overflow:auto;display:<%= @slideshow.public ? "none" : "block" %>">
  <h3>This Slideshow is private</h3>

  <ul id="users-with-access" class="user_lists_tags" slideshow="<%= @slideshow.id %>">

    <h5>users with access: </h5>
    <% if @user_ps.present? %>
    <% @user_ps.each do |user| %>
      <li style="background-image:url(<%= user.avatar_url %>)">
        <div class="revoke-access" style="display:none">
          <a href="#" class="revoke-access-for-user" user-id="<%= user.id %>">
            <i class="fa fa-ban" style="font-size:50px"></i>
          </a>
          <br>
        </div>
        <div class="name-container" style="position:absolute;color:black;background-color:transparent;font-size:12px;z-index:15">
        <%= user.name %>
        </div>
      </li>
    <% end %>
    <% end %>

  </ul>

  <form action="/users/search" id="user-search-form">
    <p>Search by:  </p>
    <input type="hidden" name="slideshow_id" value="<%= @slideshow.id %>">
    <label for="search_type_name">Name</label>
    <input type="radio" name="search_type" id="search_type_name" value="name" checked>
    <label for="search_type_email">Email</label>
    <input type="radio" name="search_type" id="search_type_email" value="email">
    <input type="text" name="search_body" id="search_body" style="width:100%;background-color:black;color:white;text-align:center" placeholder="Start typing to search for users to share this slideshow with ...">
  </form>
  <div id="search-people-results" slideshowid="<%= @slideshow.id %>">

  </div>
</div>

<script>
  $('body').on('mouseenter', '#users-with-access li', function(event) {
    event.preventDefault();
    $(this).find('.revoke-access').fadeIn(100, function() {});
    $(this).find('.name-container').fadeOut(100, function() {});
  });

  $('body').on('mouseleave', '#users-with-access li', function(event) {
    event.preventDefault();
    $(this).find('.revoke-access').fadeOut(100, function() {});
    $(this).find('.name-container').fadeIn(100, function() {});
  });

  $('body').on('click', '.revoke-access-for-user', function(event) {
    event.preventDefault();
    var user_id = $(this).attr('user-id');
    var slideshow_id = $("ul#users-with-access").attr('slideshow');

    $.ajax({
      url: '/users/revoke_permission',
      type: 'delete',
      data: {user_id: user_id, slideshow_id: slideshow_id},
    })
    .done(function() {
      console.log("success");
    })
    $(this).parent().parent().hide(200, function() {

    });
  });


  $('body').on('click', '.grant-access-to-this-user', function(event) {
    event.preventDefault();
    var id = $(this).attr('user_id');
    var slideshow = $("#search-people-results").attr('slideshowid');
    var nameSpace = {list_id: $(this).parent().attr('id'), user_id: id};
    $.ajax({
      url: '/users/grant_permission',
      type: 'post',
      data: { user_id: id, slideshow_id: slideshow },
    })
    .done(function() {
      $("#"+nameSpace.list_id).hide(500, function() {
        var img_html = $(this).find('img').attr('src');
        var name = $(this).find('.info').find('b').text();
        var html = '<li style="background-image:url('+img_html+')"><div class="revoke-access" style="display:none"><a href="#" class="revoke-access-for-user" user-id="'+nameSpace.user_id+'"><i class="fa fa-ban" style="font-size:50px"></i></a><br></div><div class="name-container" style="position:absolute;color:black;background-color:transparent;font-size:12px;z-index:15">'+name+'</div></li>'
        $("#users-with-access").append(html);
      });
    })

  });
</script>

<style>
#search-people-results .user-row {
    background-color: #E8EA84;
    position: relative;
    width: 95%;
    height: 85px;
    border-radius: 5px;
    margin: 1px;
    display: inline-block;
}

#search-people-results .user-row .info {
    background-color: #E46767;
    text-align: left;
    padding-left: 10%;
    padding-top: 10px;
    position: relative;
    width: 80%;
    height: 83px;
    float: right;
    border-radius: 5px;
  }

  #search-people-results .user-row a {
        color: #C2DDF5;

  }

  #search-people-results .user-row img {
    position: relative;
    width: 10%;
    float: left;
  }

  #search-people-results {
    position: relative;
    height: 300px;
    overflow: scroll;
  }
</style>

<script>
  $("body").on('keyup', '#search_body', function(event) {
    $("#private-mode-options form#user-search-form").trigger('submit');
  });

  $("body").on('submit', '#private-mode-options form#user-search-form', function(event) {
    event.preventDefault();
    $("#search-people-results").html("");
    var path = $(this).attr('action');
    var info = $(this).serialize();
    $.ajax({
      url: path,
      data: info,
    })
    .done(function(data) {
      var results = data.users
      $.each(results, function(index, val) {
        var source = $("#user-result-template").html();
        var template = Handlebars.compile(source);
        var html = template(val);
        $("#search-people-results").append(html);
      });
    })

  });


  $("body").on('click', '#toggle-public', function(event) {
    event.preventDefault();
    var id = $(this).attr('data-id');
    $.ajax({
      url: '/slideshows/'+id+'/toggle_public',
    })
    .done(function(data) {
      if(data.public == true){
        $('#toggle-public').html('<li class="entry" ssid="<%= @slideshow.id %>" style="background-color:black;padding-top:1%;background-color:rgba(216,38,25,.5)"><i class="fa fa-eye-slash" style="font-size: 50px;"></i><br>Make Private</li>');
        $('#private-mode-options').slideUp(1000)
      } else {
        $('#toggle-public').html('<li class="entry" ssid="<%= @slideshow.id %>" style="background-color:black;padding-top:1%;background-color:rgba(111,240,56,.5)"><i class="fa fa-eye" style="font-size: 50px"></i><br>Make Public</li>');
        $('#private-mode-options').slideDown(1000)
      }
    })

  });


  $('body').on('click', '#all_slides_nsfw', function(event) {
    event.preventDefault();
    var id = $(this).attr('data-id');
    $.ajax({
      url: '/slideshows/'+id+'/mark_all_slides_nsfw',
      type: 'PATCH',
    })
    .done(function() {
      alert('All slides in this show Marked as unsafe for work.')
    })

  });
</script>



      <div class="success">Updated</div>


      <br>
      <br>
      <script>
      $(function() {
       $( "#sortable" ).sortable();
       $( "#sortable" ).disableSelection();
     });

      $('#sortable').draggable();
      </script>


<div class="edit-title-modal form-modal tagstitle title-modal">
  <h3>Edit title</h3>
  <form id="save_slide" action="/slideshows/update_slide_show" method="post">
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token"/>
    <label for="info[title]">Title</label>
    <input type="hidden" name="id" value="<%= @slideshow.id %>">
    <input type="text" id="edit_title" value="<%= @slideshow.title %>" name="info[title]">
    <input type="submit">
  </form>
</div>

<div class="edit-tags-modal form-modal tagstitle tags-modal">
  <h3>Add tags to all slides</h3>
  <form action="/slideshows/update_slide_show_slide_tags" method="post">
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token"/>
    <label for="tag_list">Title</label>
    <input type="hidden" name="id" value="<%= @slideshow.id %>">
    <input type="text" value="" placeholder="separate multiple tags with commas ..." name="tags_string">
    <input type="submit">
  </form>
  <a href="#" id="all_slides_nsfw" data-id="<%= @slideshow.id %>">Mark all slides not safe for work.</a>
</div>



  </div>
</center>

<style>
  .screen-load {
     background-color: white;
    position: relative;
    width: 40%;
    height: 20%;
    z-index: 50;
    text-align: center;
    padding-top: 0;
    display: none;
    color: black;
  }

  .panelthird_lower {
    position: relative;
    display: inline-block;
  }
</style>

