  <center>
    <h1><%= @slideshow.title %></h1>
    <div class="form-container panel">


        <div class="panel house" style="overflow:auto">
          <div class="houseborder left-house">
            <h3>Edit title</h3>
            <form id="save_slide" action="/slideshows/update_slide_show" method="post">
              <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token"/>
              <label for="info[title]">Title</label>
              <input type="hidden" name="id" value="<%= @slideshow.id %>">
              <input type="text" id="edit_title" value="<%= @slideshow.title %>" name="info[title]">
              <input type="submit">
            </form>
          </div>

          <div class="houseborder right-house">
            <h3>Add tags to all slides</h3>
            <form action="/slideshows/update_slide_show_slide_tags" method="post">
              <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token"/>
              <label for="tag_list">Title</label>
              <input type="hidden" name="id" value="<%= @slideshow.id %>">
              <input type="text" value="" placeholder="separate multiple tags with commas ..." name="tags_string">
              <input type="submit">
            </form>
          </div>
        </div>




      <div class="success">Updated</div>


      <br>
      <br>
      <script>
      $(function() {
       $( "#sortable" ).sortable();
       $( "#sortable" ).disableSelection();
     });

      $('#sortable').draggable();
      </script>


    <div class="panel house">
      <h3>Slide Order</h3>
      <p>Click and drag each slide to its desired position.</p>
      <div id="info" ssid="<%= @slideshow.id %>"></div>
      <ul id="sortable" class="slideshow_lists_edit">
        <% @images.each do |image|%>
        <% if !image.deleted %>
          <% if image.on_s3? %>
            <li class="entry" pic-id="<%= image.id %>" id="slide_<%= image.id %>" ssid="<%= @slideshow.id %>" style="background-image:url(<%= image.thumb_url %>)">
          <% else %>
            <li class="entry" pic-id="<%= image.id %>" id="slide_<%= image.id %>" ssid="<%= @slideshow.id %>" style="background-image:url(<%= image.ext_url %>)">
          <% end %>
          <br>
          <div class="pic-info">
            <a href="#" class="inspect-slide" data-id="<%= image.id %>">
              <i class="fa fa-info-circle"></i>
            </a>
            <a href="#" class="edit-slide" data-id="<%= image.id %>">
              <i class="fa fa-pencil-square-o"></i>
            </a>
            <a href="#" class="delete-slide" data-id="<%= image.id %>">
              <i class="fa fa-trash"></i>
            </a>
          </div>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>


      <div class="panel house">
        <h3>Add Images</h3>
        <p>Two ways to add images ... </p>
        <div class="panelthird">
          <h4>Make with URL</h4>
          <br>
          <form action="#" id="upload-url">
           <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
           <input type="hidden" name="info[slideshow_id]" value="<%= @slideshow.id %>">
           <input type="text" style="width:100%" placeholder="Title this slide..." name="info[title]">
           <input type="text" style="width:100%" placeholder="Tag this slide (seperate by comma)..." name="info[tags]">
           <input type="text" style="width:100%" placeholder="Find an image and copy its URL..." name="info[ext_url]">
         </form>
         <br><br>
         <button class="upload-button Add-button-url" id="upload-pic-url">Add</button>
       </div>
    <div class="panelthird">
      <div class="screen-load">Uploading Image...</div>
        <h4>Upload from computer</h4>
        <%= form_for @slideshow, :html => {:id => "upload"} do |f| %>
        <%= f.file_field :picture %>
        <input type="text" name="tags_string" placeholder="tags seperated by commas">
        <% end %>
        <br><br>
        <button class="upload-button" id="upload-pic">Upload</button>
      </div>
    </div>


  </div>
</center>

<style>
  .screen-load {
    background-color: white;
    position: absolute;
    width: 85%;
    height: 85%;
    z-index: 50;
    text-align: center;
    padding-top: 40%;
    display: none;
    color: black;
  }

  .panelthird_lower {
    position: relative;
    display: inline-block;
  }
</style>

