<center>
<h2>Your Slides</h2>
<div class="panel house">
  <% @slides.each do |image|%>
    <% if !image.deleted %>
      <div class="my-slide" style="background-image:url(<%= image.ext_url %>)" pic-id="<%= image.id %>" id="slide_<%= image.id %>">
        <br>
        <div class="pic-info-myslides">
          <a href="#" class="inspect-slide" data-id="<%= image.id %>">
            <i class="fa fa-info-circle"></i>
          </a>
          <a href="#" class="edit-slide" data-id="<%= image.id %>">
            <i class="fa fa-pencil-square-o"></i>
          </a>
          <a href="#" class="delete-slide" data-id="<%= image.id %>">
            <i class="fa fa-trash"></i>
          </a>
        </div>
      </div>
      <% end %>
    <% end %>
</div>
<center>
