
<ul class="slideshow_lists">
  <% @slideshows.each do |ss| %>
  <a href="<%= slideshow_path(:id => ss.id)%>">
    <% if ss.slides.blank? %>
      <li data-id="<%= ss.id %>">
    <% elsif ss.slides.first.on_s3? %>
      <li style="background-image:url(<%= ss.slides.select{|e| !e.nsfw }.first.thumb_url %>)" data-id="<%= ss.id %>">
      <% else %>
      <li style="background-image:url(<%= ss.slides.select{|e| !e.nsfw }.first.ext_url %>)" data-id="<%= ss.id %>">
      <% end %>
      <div class="ss_info">
        <div class="numbers">
          <img src="<%= ss.user.avatar_url %>">
          <b><%= ss.title %></b>
          <br>
          User: <%= ss.user.name %>
          <br>
          Slides: <%= ss.slides.count %>
          <br>
          <% if ss.slides.any? { |e| e.nsfw } %>
            <div style="color:red"><b>Not Safe for work or children</b></div>
          <% end %>
        </div>
      </div>
    </li>
  </a>
  <% end %>
</ul>
