<ul class="slideshow_lists">
  <% @tags.each do |ss| %>
  <a href="/tags/<%= ss.id %>/show_tag">
    <% if ss.slides.blank? %>
      <li>
    <% elsif ss.slides.first.on_s3? %>
      <li style="background-image:url(<%= ss.slides.sample.thumb_url %>)">
      <% else %>
      <li style="background-image:url(<%= ss.slides.sample.ext_url %>)">
      <% end %>
      <div class="ss_info">
        <div class="numbers">
          <b><%= ss.name %></b>
          <br>
          Slides: <%= ss.slides.count %>
        </div>
      </div>
    </li>
  </a>
  <% end %>
</ul>
