<center>
  <h1>
    <%= @tag.name %>
  </h1>
<ul class="slideshow_lists_inspect">
  <% @slides.each do |image| %>
    <% if image.public %>
    <a href="#" class="see-this-slide" data-id="<%= image.id %>">
      <li>
       <% if image.on_s3? %>
        <img src="<%= image.thumb_url %>">
      <% else %>
        <img src="<%= image.ext_url %>">
      <% end %>
      </li>
    </a>
    <% end %>
  <% end %>
</ul>
<button class="upload-button launch-study">
  Start Study
</button>
</center>
<div class="start-modal form-modal">
  <form class="launch-set" action="/tags/<%= @tag.id %>/get_tag_partial">
    <h2>Start study</h2>
    <input type="hidden" name="type" value="tag">
    <li>How many minutes per pose?</li>
    <input type="number" value="1" name="pose_length">
    <li>How many poses per set?</li>
    <input type="number" value="20" name="pose_number">
    <li>Do you want a random order?   <input type="checkbox" name="random" value="1" checked></li>
  </form>
  <button id="start-draw-set" class="upload-button">Draw!!!</button>
</div>
