<!DOCTYPE html>
<html>
<head>
  <title>QuickStudies</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>
<header>
  <div class="head-container">
    <img src="/images/header_white.png" alt="" class="header_image">
        <div class="rand-select" style="font-size:30px">
          <a href="#" class="faq-pop" length="5" total="4">
           <b>?</b>
          </a>
        </div>

    <div id="random-sets">

        <div class="rand-select" id="random-1">
          <a href="#" class="draw-random-set" length=".5" total="40">
            <b><img src="/images/thirty.png" class="time-to-draw-set"></b>
          </a>
        </div>
        <div class="rand-select" id="random-2">
          <a href="#" class="draw-random-set" length="1" total="20">
           <b> <img src="/images/one.png" class="time-to-draw-set"></b>
          </a>
        </div>
        <div class="rand-select" id="random-3">
          <a href="#" class="draw-random-set" length="2" total="10">
           <b> <img src="/images/two.png" class="time-to-draw-set"></b>
          </a>
        </div>
        <div class="rand-select" id="random-4">
          <a href="#" class="draw-random-set" length="5" total="4">
           <b> <img src="/images/five.png" class="time-to-draw-set"></b>
          </a>
        </div>

    </div>
  </div>

  <script>
    $("body").on('mouseenter', '.rand-select', function(event) {
      event.preventDefault();
      $(this).css('opacity', '1');
    });
    $("body").on('mouseleave', '.rand-select', function(event) {
      event.preventDefault();
      $(this).css('opacity', '.5');
    });

  </script>

  <style>
  #random-sets {
    position: relative;
    background-color: transparent;
    padding: 1%;
    height: 100%;
    float: right;
    display: block;
    overflow: auto;
  }

  .time-to-draw-set {
    width: 35px;
  }
  .rand-select {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    z-index: 100;
    display: inline-block;
    text-align: center;
    padding: 5px;
    display: inline-block;
    opacity: .5;
      }

  .rand-select a {
    color: #DC4119;
  }
  </style>

  <ul class="nav nav-tabs nav-justified">
  <% if current_user %>
  <li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
      My Stuff <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/home/user_slides">My Slides</a>
      </li>
      <li>
        <a href="/home/user_slideshows">My SlideShows</a>
      </li>
      <li><a href="/home/user_art">My Art</a></li>
    </ul>

  </li>
    <li><a href="/">Browse SlideShows</a></li>
    <li><a href="/tags/browse_tags">Browse Tags</a></li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">New Slide Show <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <form action="/home/save_slide_show" method="post">
              <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token"/>
              <label for="info[title]">Title</label>
              <input style="background-color:black" type="text" name="info[title]" placeholder="slideshow title...">
              <input type="submit">
            </form>

          </li>
        </ul>
    </li>
    <li>
      <a href="/user_log_out_route/sign_out">Log out</a>
    </li>

  <% else %>
    <li>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => "fblogin" %>
    </li>
    <li><a href="/">Browse SlideShows</a></li>

  <% end %>
  </ul>
</header>
<body>

<div id="pose_window_container" class="form-modal pose_container"></div>
<div id="slide_inspect_container" class="form-modal inspect_container slide_action_container"></div>
<div id="slide_edit_container" class="form-modal inspect_container slide_action_container"></div>
<div id="slide_delete_container" class="form-modal delete_container slide_action_container"></div>



<div id="faq-container" class="form-modal">
</div>



  <div class="backdrop"></div>
  <div class="content-container">

      <%= yield %>

  </div>
</body>
</html>
<style>
  .logo-pic {
    width: 10%;
  }
  #faq-container {
    background-color: rgba(0,0,0,.8);
    color: white;
    position: fixed;
    width: 65%;
    height: 100%;
    padding: 4%;
    top: 0;
    z-index: 500;
    left: 15%;
    overflow: scroll;
    margin: 0 auto;
    display: none;
  }

  .content-container {
    width: 100%;
    padding: 1%;
    margin: 0;
    position: relative;
    top: 6%;
    height: 90%;
    background-color: transparent;
    color: white;
    overflow: scroll;
  }

  .dropdown-menu {
    background-color: black;
    color: white;
  }

  .dropdown-menu li a {
    color: white;
  }

  body {
    background-color: rgba(0,0,0,.4);
  }

  .slide_action_container {
    position:absolute;
    left:0%;
    top:50%;
  }
</style>



<script id="entry-template" type="text/x-handlebars-template">
<li class="entry">
<img src="{{ext_url}}">
<br>
<div class="pic-info">
<a href="#" class="inspect-slide" data-id="{{id}}">
  <i class="fa fa-info-circle"></i>
</a>
<a href="#" class="edit-slide" data-id="{{id}}">
  <i class="fa fa-pencil-square-o"></i>
</a>
<a href="#" class="delete-slide" data-id="{{id}}">
  <i class="fa fa-trash"></i>
</a>
  </div>
</li>
</script>

<script id="entry-template-s3" type="text/x-handlebars-template">
<li class="entry">
<img src="{{thumb_url}}">
<br>
<div class="pic-info">
<a href="#" class="inspect-slide" data-id="{{id}}">
  <i class="fa fa-info-circle"></i>
</a>
<a href="#" class="edit-slide" data-id="{{id}}">
  <i class="fa fa-pencil-square-o"></i>
</a>
<a href="#" class="delete-slide" data-id="{{id}}">
  <i class="fa fa-trash"></i>
</a>
  </div>
</li>
</script>



  <script src="/draw.js"></script>
